body {
	margin-top:13px;
	_margin-top:14px;
	margin-left:10px;
	background:white;
	font-family:monospace;
	font-size:13px;
	white-space:pre;
	line-height:16px;
	height:100%;
	background:white;
}
pre {margin:0;}
P {margin:0;padding:0;border:0;outline:0;display:block;white-space:pre;}
b, i, s, u, a, em, tt, ins, big, cite, strong, var, dfn {text-decoration:none;font-weight:normal;font-style:normal;font-size:13px;}

b, b a, b u {color:#000080;} /* tags, ids, classes */
i, i b, i s, i a, i u {color:gray;} /* comments */
s, s b {color:#a0a0dd;} /* parameters */
a {color:#0000ff;} /* keys */
u {color:red;} /* values */

