/*--------------global-------------- */
#survey_container a:focus,
#survey_container button:focus,
#survey_container textarea:focus, 
#survey_container input[type='text']:focus, 
#survey_container input[type='password']:focus{    
    outline: 0;
    border-color: #96B782;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ABA7B;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ABA7B;
}
/*--------------global end----------------------- */

/*--------------header----------------------- */
.componentheading{
    color:#000;
    font-size:15px;
    font-weight:800;
    background: #fff; /*ie*/
    -webkit-box-shadow: inset 0px 7px 35px -2px #c7c7c7;
    -moz-box-shadow: inset 0px 7px 35px -2px #c7c7c7;
    box-shadow: inset 0px 7px 35px -2px #cecece;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #eaeaea;
    width:auto;
    padding:10px;
}

#surveyforce.surveyforce .jb_survey_container_title{
    font-size:18px;
    font-weight:normal;
    padding:0 20px;
    margin:10px 0;
    border-top: none;    
}
/*---------------header end----------------------*/

/*---------------content----------------------*/
#surveyforce .contentpane {
    margin-bottom: 0;
}
.surveyforce{
    border:1px solid #eaeaea;	
    border-radius:10px;
    box-shadow: inset 10px 10px 20px 0px #f3f3f3,
        inset -10px -10px 20px 0px #f3f3f3;
}

.dp_n_dn_div, .pick_one_div, .ranking_div, .pick_many_div, .likert_scale_div {
    text-align: left;
}

#survey_container_tbl{    
    min-height:250px; 
    height:auto; 
    width:100%;
}

#survey_container_tbl .jb_survey_result_title {
    color: #6D9F2C;
}

#sf_survey_body{
    vertical-align: top;
    padding: 0 10px;
}

#survey_container .jb_survey_top{
    padding-left:10px;
    text-align:left;
}

#survey_container .sf_section_name{
    font-size: 13px;
    color: #666;
}

#survey_container .jb_survey_question_caption{
    text-align: left;
    margin:20px 0;
    font-size: 21px;
    color: #6D9F2C;
}

#quest_div90 .likert_scale_div{
    text-align: left;
}

#survey_container td.r_left_cell, #survey_container .dd_left_cell{
    width: 30%;
}

/*---------------drag and drop blocks---------------------*/
.jb_survey_dragdrop_right, .jb_survey_dragdrop_left{    
    line-height: 30px;
    color: #fff;
    border-radius:3px; 
    border: 1px solid #6D9F2C;
}


.jb_survey_dragdrop_left{ 
    background: #9edb64 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9edb64 0%, #92d157 17%, #91ce58 33%, #85bf50 67%, #80b252 83%, #74a547 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9edb64), color-stop(17%,#92d157), color-stop(33%,#91ce58), color-stop(67%,#85bf50), color-stop(83%,#80b252), color-stop(100%,#74a547)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9edb64', endColorstr='#74a547',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.jb_survey_dragdrop_right, .js_dragdrop_highlight{   
    background: #bcdb95 !important; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #bcdb95 1%, #bbd895 18%, #b0d185 33%, #a5c47d 67%, #9fbf76 84%, #9bb679 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#bcdb95), color-stop(18%,#bbd895), color-stop(33%,#b0d185), color-stop(67%,#a5c47d), color-stop(84%,#9fbf76), color-stop(100%,#9bb679)) !important; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* IE10+ */
    background: radial-gradient(ellipse at center,  #bcdb95 1%,#bbd895 18%,#b0d185 33%,#a5c47d 67%,#9fbf76 84%,#9bb679 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcdb95', endColorstr='#9bb679',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}
/*---------------drag and drop blocks end---------------------*/

/*---------------progress-bar---------------------*/
#sf_progressbar{
    text-align: left;
}

#progress{
    margin-top: 15px;
}

#progress>div:first-child{
    width: auto !important;
    padding: 1px !important;    
    height: 19px !important;
    border: 1px solid #F4F8FC !important;
    border-top: 1px solid #CFD5DB !important;
    background-color: white !important;
    text-align:left !important;
}

#progress_bar{  
    height: 19px !important; 
    background: #83bc64 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #83bc64 0%, #74a547 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83bc64), color-stop(100%,#74a547)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #83bc64 0%,#74a547 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #83bc64 0%,#74a547 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #83bc64 0%,#74a547 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  #83bc64 0%,#74a547 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83bc64', endColorstr='#74a547',GradientType=0 ) !important; /* IE6-9 */
    text-align: left !important;
}

#progress_bar_txt{
    position:relative !important;
    top: -20px !important;
    float: center !important;
    text-shadow: 1px 0px 3px white !important;
    color: #5E5656 !important;
    text-align: center !important;
}
/*---------------progress-bar end---------------------*/

/*--------------- tables ---------------------- */
#survey_container_tbl #survey_container table.likert_scale_table,
#survey_container_tbl #survey_container table.importance_table{    
    border: 1px solid #C1D6B3 !important;
}

#survey_container_tbl #survey_container table.likert_scale_table,
#survey_container_tbl #survey_container table.importance_table{    
    border: 1px solid #C1D6B3 !important;
    border-collapse:collapse;
}
#survey_container_tbl #survey_container table.likert_scale_table td,
#survey_container_tbl #survey_container table.importance_table td{    
    border: 1px solid #C1D6B3 !important;
}

#survey_container .importance_div{
    text-align: left;
}

#sf_survey_body #survey_container .importance_table{
    border-top: 1px solid;
    border-left: none !important;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

#sf_survey_body #survey_container .importance_table tr:first-child td{
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

#sf_survey_body #survey_container .likert_scale_table td, #sf_survey_body #survey_container .importance_table td{
    padding: 5px 8px 5px 8px;
    width: auto;
}

#sf_survey_body #survey_container .likert_scale_table tr:first-child td, #sf_survey_body #survey_container .importance_table tr:first-child td{
    background: #96b782; /* Old browsers */
    background: -moz-linear-gradient(top,  #96b782 0%, #d4eac7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b782), color-stop(100%,#d4eac7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96b782 0%,#d4eac7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b782', endColorstr='#d4eac7',GradientType=0 ); /* IE6-9 */
}
/*--------------- tables end ---------------------- */

/*--------------- radio, checkbox buttons, inputs ---------------------- */
#survey_container input {
    margin:0;
}

#survey_container input[type='checkbox'], #sf_survey_body input[type='radio'] {
    opacity: 0; 
    float: left;
    width: 18px;
    background: url('./images/radio_on.png');
}

#sf_survey_body input[type='radio']+label, #sf_survey_body input[type='checkbox']+label {
    margin: 0 auto;
    clear: none;
    display:block;
    padding: 3px 0 4px 24px;
    cursor: pointer;
    line-height:14px;
}

.jb_survey_label, .iscale_label
{
    padding: 18px 0 4px 24px !important;
}

#quest_table td{
    padding-left: 7px;
}

#sf_survey_body input[type='checkbox']+label {
    margin: 0 auto;
    clear: none;
    display:block;
    padding: 4px 0 4px 24px;
    cursor: pointer;
    line-height:14px;
    width: auto;        
}

#sf_survey_body input[type='radio']+label {
    background: url('./images/radio_on.png') 50% 4px no-repeat; 
}

#sf_survey_body .pick_one_div input[type='radio']+label {
    background: url('./images/radio_on.png') left 4px no-repeat; 
}

#sf_survey_body input[type='radio']:checked +label, #sf_survey_body .pick_one_div input[type='radio']:checked +label {
    background-image: url('./images/radio_off_green.png');
}

#sf_survey_body input[type='checkbox']+label {
    background: url('./images/check_on.png') left 4px no-repeat;
}

#sf_survey_body input[type='checkbox']:checked +label {
    background-image: url('./images/check_off_green.png');
}

#survey_container input[type='text'], #survey_container input[type='password']{
    border:1px solid #dcdcdc;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
/*--------------- radio, checkbox buttons, inputs end---------------------- */

/*--------------- selects ---------------------- */
#survey_container .chzn-container-active .chzn-single{
    border: 1px solid #6D9F2C;
}

#survey_container .chzn-container .chzn-results .highlighted {
    background-color: #83BC64;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83BC64', endColorstr='#74A547', GradientType=0 );  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #83BC64), color-stop(90%, #74A547));
    background-image: -webkit-linear-gradient(top, #83BC64 20%, #74A547 90%);
    background-image: -moz-linear-gradient(top, #83BC64 20%, #74A547 90%);
    background-image: -o-linear-gradient(top, #83BC64 20%, #74A547 90%);
    background-image: linear-gradient(#83BC64 20%, #74A547 90%);
    color: #fff;
}
/*--------------- selects end---------------------- */
/*---------------content end---------------------- */

/*---------------buttons--------------------- */
#td_survey_task{
    background: #fff; /* ����������� ��� ie */
    -webkit-box-shadow: inset 0px 7px 35px -2px #C7C7C7;
    -moz-box-shadow: inset 0px 7px 35px -2px #C7C7C7;
    box-shadow: inset 0px 7px 35px -2px #C7C7C7;
    border-top:1px solid #C7C7C7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

#td_survey_task input.button{
    background: #9edb64; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9edb64 0%, #92d157 17%, #91ce58 33%, #85bf50 67%, #80b252 83%, #74a547 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#9edb64), color-stop(17%,#92d157), color-stop(33%,#91ce58), color-stop(67%,#85bf50), color-stop(83%,#80b252), color-stop(100%,#74a547)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #9edb64 0%,#92d157 17%,#91ce58 33%,#85bf50 67%,#80b252 83%,#74a547 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9edb64', endColorstr='#74a547',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border: 1px solid #6D9F2C;    
    border-radius:3px;
    line-height:normal;
    text-decoration:none;
    font-size:15px;
    color:#fff;
    padding:3px 15px;
    margin:8px 0 8px 4px;
}

#td_survey_task input.button:hover{
    background: #80a55c; /* Old browsers */
    background: -moz-linear-gradient(top,  #80a55c 0%, #9bbc80 33%, #9bbc80 61%, #80a55c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80a55c), color-stop(33%,#9bbc80), color-stop(61%,#9bbc80), color-stop(100%,#80a55c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #80a55c 0%,#9bbc80 33%,#9bbc80 61%,#80a55c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #80a55c 0%,#9bbc80 33%,#9bbc80 61%,#80a55c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #80a55c 0%,#9bbc80 33%,#9bbc80 61%,#80a55c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #80a55c 0%,#9bbc80 33%,#9bbc80 61%,#80a55c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a55c', endColorstr='#80a55c',GradientType=0 ); /* IE6-9 */
}

#sf_prev_button{
    padding-left: 7px;
}

#sf_next_button{
    padding-right: 7px;
}
/*---------------buttons end --------------------- */

/*---------------error massage --------------------- */
#sf_error_message, #sf_error_message2{
    padding: 10px 0;
    text-align: center;
}

#error_messagebox, #error_messagebox2{
    visibility: hidden; 
    color: #C80000;
}
/*---------------error massage end --------------------- */

/* global */
body{
    font-family:Tahoma,Helvetiva,sans-serif;
}
.clearfix:after{
    display: block;
    height: 0;
    clear: both;
    content: "";
    visibility: hidden;

}
.clearfix{
    *zoom:1;/*ie 7 and less */
}

video,
embed,
object{
    max-width:100%;
}


/*--------------survey_container-------------- */
.jb_survey_container_title{
    height:100%;
    line-height:30px;
}

/*--------------end page-------------- */
.jb_survey_end_text{
    padding-left: 20px;
}
/*--------------end page end-------------- */

/*--------------result page-------------- */
#survey_container_tbl .sf_graphs_container, #survey_container_tbl .jb_survey_result_title {
    padding-left: 10px;
}
#survey_container .sf_graphs_container{
    font-family: Tahoma;
}

#survey_container .jb_survey_result_subtext {
    font-size:0.8em;
}
/*--------------result page-------------- */

/*--------------drag-drop-------------- */
#survey_container .short_ans_div{
    text-align: left;
}

.jb_survey_dragdrop_right:hover{
    cursor: move;
}
/*--------------drag-drop end-------------- */

/*--------------on_one_page-------------- */
div[id^="dl_quest_div"]:last-child{
    display: none;
}
/*--------------on_one_page end-------------- */

/*-------------- survey_container end-------------*/


/*-------------- textarea, input-------------*/
#survey_container textarea, input{
    font-family:  Tahoma,Helvetiva,sans-serif;
    line-height: 16px;
    font-size: 13px;
}


#survey_container .short_ans_textarea{
    border:1px solid #ddd;
    border-radius:4px;
    height:96px;
    padding: 5px 7px;
    margin-left: 7px;
    overflow: hidden;
    width:50%;
}
/*-------------- textarea, input end-------------*/

/*-------------- selects end-------------*/
#survey_container .chzn-container {
    font-size: 13px;
}

#survey_container .chzn-container .chzn-results {
    margin: 0;
    padding: 0;
}
#survey_container .chzn-container .chzn-results li {
    line-height: 15px;
    padding: 4px 6px;
    margin: 0;

}

.chzn-container-single .chzn-single{    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chzn-container-single .chzn-single span{   
    height: 21px;
    line-height: 21px;
}
/*-------------- selects end-------------*/

#survey_container_tbl tr, td
{
    border:none !important;
}

.chzn-container{
    margin: 6px 0;
}

/*FOR MOBILE*/

/*COMPACT VIEW*/
body{
    /*width: 480px;
    /*max-width: 768px;*/
}
#surveyforce.compact{
    min-width: 261px;
}
/*-----------importance_table-------------*/
.compact #sf_survey_body #survey_container .importance_table{
    width: 100%;
    border-left: 1px solid #C1D6B3 !important;
}
.compact #sf_survey_body #survey_container .importance_table tr:first-child{
    display: block;
    width: 40%;
    float: left;
}
.compact #sf_survey_body #survey_container .importance_table .i_quest{
    display: block;    
    padding: 0;
    background: none !important;
    border: none !important;
    text-align: left;
    font-weight: bold;
}
.compact #sf_survey_body #survey_container .importance_table .sectiontableentry1{
    display: none !important;
}
.compact #sf_survey_body #survey_container .importance_table tr{
    display: block;
}
.compact #sf_survey_body #survey_container .importance_table td.i_ans_cell{
    display: block !important;
    margin-left: 40%;
    text-align: left;
}

.compact #sf_survey_body #survey_container .importance_table td.i_ans_cell label{
    margin: 0 0 auto !important;
    color: inherit !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    background-position: 0 4px !important;
    padding: 4px 0 4px 24px !important;
}
.compact #survey_container_tbl #survey_container table.importance_table td.i_ans_cell{
    border-top: none !important;
    border-right: none !important;
}
.compact #survey_container_tbl #survey_container table.importance_table tr:last-child td.i_ans_cell:last-child{
    border-bottom: none !important;
}
/*-----------importance_table end-------------*/

/*-----------likert_scale_table-------------*/
.compact #survey_container_tbl #survey_container .likert_scale_table{
    border-left: 1px solid #C1D6B3 !important;
    border-top: none !important;
    width: 100%;
}
.compact #survey_container_tbl #survey_container .likert_scale_table tr{
    display: block;
    width: 100%;
    clear: both; 
    border-top: 1px solid #C1D6B3 !important;
}
.compact #survey_container_tbl #survey_container .likert_scale_table tr:first-child{
    display: none;
}
.compact #sf_survey_body #survey_container .likert_scale_table td.ls_quest_field{
    display: block;
    width: 40%;
    float: left;
    padding: 0 !important;
    font-weight: bold;
    border: none !important;
}
.compact #sf_survey_body #survey_container .likert_scale_table td.ls_answer_cell{
    display: block;
    margin-left: 40%;
    background: #fff;
    border: none !important;
    border-left: 1px solid #C1D6B3 !important;
}
.compact #sf_survey_body #survey_container .likert_scale_table td.ls_answer_cell label{
    margin: 0 0 auto !important;
    color: inherit !important;
    width: auto !important;
    height: auto;
    min-height: 14px !important;
    text-align: left !important;
    background-position: 0 4px !important;
    padding: 4px 0 4px 24px !important;
}
/*-----------likert_scale_table end-------------*/

/*-------------drag_drop_table--------------*/
.compact .jb_survey_dragdrop_right, .compact .jb_survey_dragdrop_left{
    width: 175px !important;
    margin: 3px !important;
}
/*-------------drag_drop_table end--------------*/

/*-------------short_answer---------------------*/
.compact #survey_container .short_ans_textarea {
    width: 88%;
}
/*-------------short_answer end---------------------*/

/*-------------ranking table selects---------------------*/
.compact .ranking_table>tr, .compact .drop_down_table>tr{
    display: block;
    clear: both;
}
.compact #survey_container .ranking_table td.r_left_cell, .compact #survey_container .drop_down_table td.dd_left_cell{
    display: block;
    width: 80%;
}
.compact .ranking_table td.r_right_cell, .compact #survey_container .drop_down_table td.dd_right_cell{
    display: inline-block;
    float: left;
}
/*-------------ranking table selects end---------------------*/
/*COMPACT VIEW END*/

/*NARROW VIEW*/
#surveyforce.narrow{
    min-width: 261px;
}

/*-----------importance_table-------------*/
.narrow #sf_survey_body #survey_container .importance_table .i_quest{
    text-align: left !important;
    display: block;
    padding: 10px 2px;
}
.narrow #sf_survey_body #survey_container .importance_table .sectiontableentry1{
    display: none !important;
}
.narrow #sf_survey_body #survey_container .importance_table td.i_ans_cell{
    display: block !important;
}
.narrow #sf_survey_body #survey_container .importance_table td.i_ans_cell label{
    margin: 0 0 auto !important;
    color: inherit !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    background-position: 0 4px !important;
    padding: 4px 0 4px 24px !important;
}
.narrow table.importance_table {
    width: auto;
}
/*-----------importance_table end-------------*/

/*-----------likert_scale_table-------------*/
.narrow #survey_container_tbl #survey_container .likert_scale_table tr:first-child{
    display: none;
}
.narrow #sf_survey_body #survey_container .likert_scale_table td.ls_quest_field,
.narrow #sf_survey_body #survey_container .likert_scale_table td.ls_answer_cell{
    display: block;
    border-left: none !important;
}
.narrow #sf_survey_body #survey_container .likert_scale_table td.ls_quest_field{
    background: #96b782; /* Old browsers */
    background: -moz-linear-gradient(top,  #96b782 0%, #d4eac7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b782), color-stop(100%,#d4eac7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96b782 0%,#d4eac7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96b782 0%,#d4eac7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b782', endColorstr='#d4eac7',GradientType=0 ); /* IE6-9 */
    border-top: none !important;
}
.narrow #survey_container_tbl #survey_container .likert_scale_table td.ls_answer_cell label{
    margin: 0 0 auto !important;
    color: inherit !important;
    width: auto !important;
    height: auto !important;
    text-align: left !important;
    background-position: 0 4px !important;
    padding: 4px 0 4px 24px !important;
}
/*-------------likert_scale_table end--------------*/

/*-------------drag_drop_table--------------*/
.narrow .jb_survey_dragdrop_right, .narrow .jb_survey_dragdrop_left{
    width: 100px !important;
    margin: 3px !important;
}
/*-------------drag_drop_table end--------------*/

/*-------------short_answer---------------------*/
.narrow #survey_container .short_ans_textarea {
    width: 88%;
}
/*-------------short_answer end---------------------*/

/*-------------ranking table selects---------------------*/
.narrow .ranking_table>tr, .narrow .drop_down_table>tr{
    display: block;
    clear: both;
}
.narrow #survey_container .ranking_table td.r_left_cell, .narrow #survey_container .drop_down_table td.dd_left_cell{
    display: block;
    width: 80%;
}
.narrow .ranking_table td.r_right_cell, .narrow #survey_container .drop_down_table td.dd_right_cell{
    display: inline-block;
    float: left;
}

.narrow img
{
    max-width:100%;
}

.sf_graph_container img
{
    max-width:100%;
}

table.contentpane {table-layout: fixed;}
/*-------------ranking table selects end---------------------*/
/*NARROW VIEW END*/

/*FOR MOBILE END*/

.likert_scale_table input, .importance_table .i_ans_cell input{
    height: 0px !important;
    display:none;
}
#sf_survey_body input[type='radio']+label, #sf_survey_body input[type='checkbox']+label {
    margin: 0 auto;
    clear: none;
    display:block;
    padding: 4px 0 4px 24px;
    cursor: pointer;
    line-height:14px;
}
.likert_scale_table label, .importance_table .i_ans_cell label{
    height: 0;
    width: 0;
    color: transparent;
    overflow: hidden;
}

.jb_survey_label, .iscale_label
{
    padding: 18px 0 4px 24px !important;
}

/*RANKING DRAG-AND-DROP*/
div.drag_drop_div {
	padding-left:5px;
	text-align:left;
}
table.drag_drop_table {
	/*nothing*/
}
